.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    }
    .popup-body {
    position: relative;
    top: 30%;
    width: 80%;
    height: 40%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .button {
        position: relative;
        width: 80%;
        height: 20%;
        text-align: center;
        font-size: 20px;
        border-radius: 15px;
        border-color: black;
        background: rgb(171, 241, 171);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        top: 10vh
    }
    .title {
        position: relative;
        top: 10%;
        width: 80%;
        height: 50%;
        font-size: 18px;
        margin: auto;
        text-align: center;
        border-radius: 15px;
        border-color: black;
    }