.App {
  text-align: center;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

}

.engine > .mindar{
  display: flex;
  position: static;
  overflow: hidden;
}

.engine > .loading-overlay {
  /* We'll render the overlay on top of the Unity Application. */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  /* We'll set the following Flex properties in order to center the text. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.engine {
  /* The Unity Application matches it size to the container. */
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}