.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.engine > .mindar{
  overflow: hidden;
}

.engine > .loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: red;
  font-weight: bold;
}
